<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<title>Create account</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/registration.css}" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
	<div class="container">
		<div class="row">
			<div class="col-md-6 col-md-offset-3">
<!-- 			When the Create button is pressed, it is called th : action who uses th : object = "$ {user}" creating a user type object using the data that is defined th : field = "* XX". For example th : field = "* {name}" -->
				<form id="form_registration" autocomplete="off" action="#" th:action="@{/registration}" th:object="${user}" method="post" class="form-horizontal" role="form">
					<h2 class="headertekst">Join now!</h2>
					<div class="form-group">
						<div class="col-sm-9">
							<input type="text" th:field="*{email}" placeholder="Email" class="form-control" /> <label th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="validation-message"></label>
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-9">
							<input type="text" th:field="*{name}" placeholder="Name" class="form-control" /> <label th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="validation-message"></label>
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-9">
							<input type="text" th:field="*{lastName}" placeholder="Last Name"
								class="form-control" />
								<label th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}" class="validation-message"></label>
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-9">
							<input type="password" th:field="*{password}" placeholder="Password" class="form-control" /> <label th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="validation-message"></label>
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-9">
							<button type="submit" class="btn btn-primary btn-block">Create</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</body>
</html>